<%- include('../partials/header',{ title: "Edit Employee" }) %>
    </head>

    <body>
        <%- include('../partials/navigation') %>

            <main>
                <div class="container">
                    <div class="row justify-content-left m-1">
                        <h3 class="">Edit Employee</h3>
                        
                    </div>
                    <div class="row justify-content-left m-1">
                        <h4> Employee Id : <%= selectedEmployee.employeeNumber %></h4>
                        
                    </div>
                    <form action="/edit-employee" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                    autocomplete="nope" value="<%= selectedEmployee.firstName %>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                    autocomplete="nope" value="<%= selectedEmployee.lastName %>">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="department">Department</label>
                                <select id="department" name="department" class="form-control">
                                    <option selected>Choose...</option>
                                    <% for ( var i=0; i < Departments.length; i++ ) { var selected=(
                                        selectedEmployee.department===Departments[i] ) ? "selected" : "" ; %>
                                        <option value="<%=Departments[ i ] %>" <%=selected %>><%=Departments[i] %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option selected>Choose...</option>
                                    <% for ( var i=0; i < Gender.length; i++ ) { var selected=(
                                        selectedEmployee.gender===Gender[i] ) ? "selected" : "" ; %>
                                        <option value="<%=Gender[ i ] %>" <%=selected %>><%=Gender[i] %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="joiningDate">Joining Date</label>
                                <input type="date" value="<%= selectedEmployee.joiningDate %>" class="form-control"
                                    id="joiningDate" name="joiningDate">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="<%= selectedEmployee.email %>" autocomplete="nope">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                    value="<%= selectedEmployee.phoneNumber %>" autocomplete="nope">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address"
                                    value="<%= selectedEmployee.address %>">
                            </div>
                        </div>
                    
                        <div class="form-row">
                            <% if(selectedEmployee.fileName==="" ) {%>
                                <img src="<%= selectedEmployee.gender === 'Male' ? 'male' : 'female' %>.png" class="card-image" alt="...">
                                <%} else {%>
                                  <img src="<%= selectedEmployee.fileName%>" class="card-image" alt="...">
                                  <%}%>
                            <div class="form-group col-md-8">
                                <input class="" type="file" id="image" name="image" style="margin-top: 10px;margin-left: 10px;">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Update Employee</button>
                        <input type="hidden" name="empId" id="empId" value="<%= selectedEmployee.employeeNumber %>">
                    </form>
                </div>

            </main>

            <%- include('../partials/footer') %>