<%- include('../partials/header',{ title: "Employee List" }) %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <%- include('../partials/navigation') %>

      <main>
        <a href="add-employee" class="btn btn-primary btn-sm float-right m-2">
          <i class="fas fa-plus-circle"></i> Add New Employee
        </a>
        <% if(employees.length> 0) { %>
          <div class="row">
            <div class="input-group col-md-4">
                <!-- <a href="edit-employee?employeeNo=2" class="btn btn-info btn-sm">
                  <i class="fa fa-search"></i>
                    </a> -->
                <!-- <button class="btn btn-outline-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button> -->
                <form action="/search" method="get">
                  <span class="input-group-append">
                  <input class="form-control py-2" type="search" value="" placeholder="Search" name="searchValue">
                  <button type="submit" class="btn btn-outline-secondary" value=""><i class="fa fa-search"></i></button>
                </span>
              </form>
              
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col" >Employee ID
                    <a name = "empID" class="headerSortUp" href="sorting?sortField=employeeNumber&&sortType=ASC"></a>
                    <a class="headerSortDown" href="sorting?sortField=employeeNumber&&sortType=DESC"></a>
                </th>
                <th scope="col">First Name
                  <a class="headerSortUp" href="sorting?sortField=firstName&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=firstName&&sortType=DESC"></a>
                </th>
                <th scope="col">Last Name
                  <a class="headerSortUp" href="sorting?sortField=lastName&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=lastName&&sortType=DESC"></a>
                </th>
                <th scope="col">Email Id
                  <a class="headerSortUp" href="sorting?sortField=email&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=email&&sortType=DESC"></a>
                </th>
                <th scope="col">Joining Date
                  <a class="headerSortUp" href="sorting?sortField=joiningDate&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=joiningDate&&sortType=DESC"></a>
                </th>
                <th scope="col">Gender
                  <a class="headerSortUp" href="sorting?sortField=gender&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=gender&&sortType=DESC"></a>
                </th>
                <th scope="col">Department
                  <a class="headerSortUp" href="sorting?sortField=department&&sortType=ASC"></a>
                  <a class="headerSortDown" href="sorting?sortField=department&&sortType=DESC"></a>
                </th>
                <th scope="col">Action
                </th>
              
              </tr>
            </thead>
            <tbody>
              <% for(let employee of employees) { %>
                <tr>
                  <td>
                    <% if(employee.fileName==="" ) {%>
                      <img src="<%= employee.gender === 'Male' ? 'male' : 'female' %>.png" class="card-image" alt="...">
                      <%} else {%>
                        <img src="<%= employee.fileName%>" class="card-image" alt="...">
                        <%}%>
                  </td>
                  <th scope="row">
                    <%= employee.employeeNumber %>
                  </th>
                  <td>
                    <%= employee.firstName %>
                  </td>
                  <td>
                    <%= employee.lastName %>
                  </td>
                  <td>
                    <%= employee.email %>
                  </td>
                  <td>
                    <%= employee.joiningDate %>
                  </td>
                  <td>
                    <%= employee.gender %>
                  </td>
                  <td>
                    <%= employee.department %>
                  </td>
                  <td>
                    <a href="edit-employee?employeeNo=<%= employee.employeeNumber %>" class="btn btn-info btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="delete-employee?employeeNo=<%= employee.employeeNumber %>" class="btn btn-info btn-sm"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <%}%>
            </tbody>
          </table>
          <% } else { %>
            <h1>No Employees Found.</h1>
            <% } %>
              <%- include('../partials/pagination') %>
      </main>
      <%- include('../partials/footer') %>